@font-face {
	font-family: 'Pe-icon-7-stroke';
	src:url('../fonts/Pe-icon-7-stroke.eot?d7yf1v');
	src:url('../fonts/Pe-icon-7-stroke.eot?#iefixd7yf1v') format('embedded-opentype'),
		url('../fonts/Pe-icon-7-stroke.woff?d7yf1v') format('woff'),
		url('../fonts/Pe-icon-7-stroke.ttf?d7yf1v') format('truetype'),
		url('../fonts/Pe-icon-7-stroke.svg?d7yf1v#Pe-icon-7-stroke') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="pe-7s-"], [class*=" pe-7s-"] {
	display: inline-block;
	font-family: 'Pe-icon-7-stroke';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.pe-7s-star:before {
	content: "\e611";
}
.pe-7s-like:before {
	content: "\e642";
}

.pe-7s-clock:before {
	content: "\e66b";
}
.pe-7s-portfolio:before {
	content: "\e622";
}
.pe-7s-diamond:before {
	content: "\e6af";
}
.pe-7s-arc:before {
	content: "\e6ab";
}
.pe-7s-photo:before {
	content: "\e6bf";
}
.pe-7s-joy:before {
	content: "\e6a4";
}
.pe-7s-plane:before {
	content: "\e625";
}
.pe-7s-look:before {
	content: "\e63e";
}