html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit; 
}
a{
    display: inline-block;
    text-decoration: none;
}
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #787878;
}
.container{
    max-width: 1172px;
    margin: 0 auto;
}